<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.mayank.androidbasics">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:extractNativeLibs="false"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:ignore="AllowBackup,GoogleAppIndexingWarning"
        tools:targetApi="m">
        <activity
            android:name=".BasicsActivity.EditText"
            tools:ignore="InnerclassSeparator">

        </activity>
        <activity
            android:name=".Quiz.MainGameActivity"
            android:theme="@style/AppTheme.NoActionBar"
            tools:ignore="InnerclassSeparator">

        </activity>
        <activity
            android:name=".Quiz.HomeScreen"
            android:theme="@style/AppTheme.NoActionBar"
            tools:ignore="InnerclassSeparator" />
        <activity
            android:name=".Activities.InterViewActivity"
            tools:ignore="InnerclassSeparator" />
        <activity
            android:name=".LayoutsActivity.LayoutsActicties"
            tools:ignore="InnerclassSeparator" />
        <activity
            android:name=".Activities.AboutActivity"
            tools:ignore="InnerclassSeparator" />
        <activity
            android:name=".Activities.LayoutsActivity"
            tools:ignore="InnerclassSeparator" />
        <activity
            android:name=".BasicsActivity.BasicsActivities"
            android:label="@string/title_activity_basics_activities"
            android:theme="@style/AppTheme.NoActionBar"
            tools:ignore="InnerclassSeparator" />
        <activity
            android:name=".Activities.BasicsActivity"
            tools:ignore="InnerclassSeparator" />
        <activity
            android:name=".Activities.HomeActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar"
            tools:ignore="InnerclassSeparator">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Activities.SampleCodesActivity"
            tools:ignore="InnerclassSeparator" />
        <activity
            android:name=".Sample_Code_Activity.LoadingActivity"
            tools:ignore="InnerclassSeparator" />
        <activity
            android:name=".Sample_Code_Activity.SumActivity"
            tools:ignore="InnerclassSeparator" />
        <activity
            android:name=".Quiz.GameWon"
            tools:ignore="InnerclassSeparator" />
        <activity
            android:name=".Quiz.PlayAgain"
            tools:ignore="InnerclassSeparator" />
        <activity
            android:name=".Quiz.Time_Up"
            tools:ignore="InnerclassSeparator" />


    </application>

</manifest>